.photo-card {
  
  flex-basis: 30%;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  box-shadow: 0 0 5px -2px #313131d3;
}

.photo-card-image {
  display: block;
  max-width: 100%;
}

.photo-card .info {
  // padding: 15px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  align-items: center;

  font-size: 10px;
}