.photo-card {
  display: flex;
  flex-direction: column;

  // border: 1px solid #a7a7a7;
  border-radius: 4px;
  box-shadow: 0 2px 5px -2px #313131d3;

  transition: opacity var(--transision);

  overflow: hidden;

  @media screen and (min-width: 580px) {
    flex-basis: calc(50% - 1em);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(33% - 1em);
  }

  @media screen and (min-width: 1140px) {
    flex-basis: calc(25% - 1em);
  }
}

.photo-card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.photo-card .info {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;

  display: flex;
  justify-content: space-around;
  column-gap: 10px;

  font-size: 12px;
}

.photo-card .info-item {
  flex-basis: calc(100% / 4 - (3 * 10px));
  display: flex;
  flex-direction: column;
  align-items: center;
}
