.photo-card {
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 4px;
  box-shadow: 0 2px 5px -2px #313131d3;

  transform: scale(0.99);
  transition: opacity var(--transision),
    box-shadow var(--transision),
    transform var(--transision-scale);

  overflow: hidden;

  @media screen and (min-width: 580px) {
    flex-basis: calc(50% - 1em);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(33% - 1em);
  }

  @media screen and (min-width: 1140px) {
    flex-basis: calc(25% - 1em);
  }
}

.photo-card:hover,
.photo-card:focus,
.photo-card:active {
  box-shadow: 0 0 10px -2px var(--shadow-color);
  transform: scale(1);
}

.photo-card-image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.photo-card-link {
  flex-grow:1;
  overflow: hidden;
}

.photo-card .info {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;

  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  column-gap: 10px;

  font-size: 12px;
}

.photo-card .info-item {
  flex-basis: calc(100% / 4 - (3 * 10px));
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #313131
}

.photo-card .info-item > .span {
  color: var(--button-color)
}
